body, body*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar-brand {
    

}
header{
    margin-top: 0;
}

.carousel {
    padding-top: -200px;
}